<a href="https://colab.research.google.com/github/Bornitaadhikari/For-Practice/blob/main/Removing_Outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
import numpy as np

In [57]:
data= {
    "Name":["Rob","Borni","Raha","Rabi","Savu","Hasi","Guya","Iavo"],
    "Income":[8000,1000,3000,5000,6000,4000,5000,6000000]
}
df = pd.DataFrame(data)
df

    Name   Income
0    Rob     8000
1  Borni     1000
2   Raha     3000
3   Rabi     5000
4   Savu     6000
5   Hasi     4000
6   Guya     5000
7   Iavo  6000000

In [58]:
df.Income.quantile(0.75)

6500.0

In [59]:
df.Income.quantile(0.75,interpolation="higher")

8000

In [60]:
df.Income.quantile(0.75,interpolation="lower")

6000

In [61]:
percentile_99=df.Income.quantile(.99)
percentile_99

5580559.999999998

In [62]:
df_no_outlier= df[df.Income>percentile_99]
df_no_outlier

   Name   Income
7  Iavo  6000000

In [63]:
import pandas as pd

df = pd.read_csv('/content/AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,1/6/2018,0.05,4,28
1,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,6/24/2019,2.56,4,127
2,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,5/18/2019,0.71,5,0
3,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,10/27/2017,0.53,2,0
4,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,1/2/2018,0.15,1,73

In [64]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [65]:
percentile_25 =  df.price.quantile(0.25)
percentile_25

69.0

In [66]:
percentile_50=df.price.quantile(0.50)
percentile_50

106.0

In [67]:
percentile_75=df.price.quantile(0.75)
percentile_75

175.0

In [68]:
# Assuming 'price' is the column in your DataFrame
percentile_25 = df['price'].quantile(0.25)
percentile_75 = df['price'].quantile(0.99)

df_no_outlier = df[(df['price'] >= percentile_25) & (df['price'] <= percentile_75)]

In [69]:
df_no_outlier

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11999,15220,Best Location in NYC! TIMES SQUARE!,59734,Luiz,Manhattan,Hell's Kitchen,40.75531,-73.99293,Private room,69,2,289,6/9/2019,2.49,2,294
12000,36647,Private Bdrm/Bathrm. New! Elevator!,157798,Irene,Manhattan,East Harlem,40.79295,-73.93997,Private room,69,2,34,5/29/2017,0.32,1,10
12001,39282,Indie-Chic Share In Williamsburg,168525,Gus,Brooklyn,Williamsburg,40.71088,-73.95055,Private room,69,4,202,5/28/2019,1.86,2,53
12002,55959,Spacious Williamsburg Share w/ LOFT BED,168525,Gus,Brooklyn,Williamsburg,40.70979,-73.95162,Private room,69,4,82,6/10/2019,1.13,2,60
12003,75193,BROOKLYN > Guest Room w/ King Bed in Williamsburg,308875,Scott,Brooklyn,Williamsburg,40.71398,-73.95763,Private room,69,2,220,6/22/2019,2.17,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,28715332,TRIBECA/SOHO 2 BEDROOM LUXURY LOFT,122323589,Roberto,Manhattan,Tribeca,40.71979,-74.00407,Entire home/apt,799,3,6,4/22/2019,0.66,1,325
48417,31916725,EMPIRE ST VIEW>Luxury 3BR 2BA BALCONY High fl>Gym,129079212,Dana,Manhattan,Midtown,40.74829,-73.98326,Entire home/apt,799,5,3,6/4/2019,1.73,1,346
48418,32123225,Top Luxury 3BR 2BA Balcony ->Gym City& River V...,65929049,Bar,Manhattan,Midtown,40.74838,-73.98444,Entire home/apt,799,5,2,5/5/2019,0.39,1,343
48419,33519952,"Class, Comfort, Convenience In The Heart of NYC",229489983,Devin,Manhattan,Hell's Kitchen,40.76485,-73.99229,Entire home/apt,799,2,5,6/2/2019,2.38,1,247
48420,34836737,Spacious Harlem Home in Manhattan!,9486614,Roberto,Manhattan,Harlem,40.81157,-73.94654,Entire home/apt,799,3,0,NaN,NaN,1,51

In [70]:
df_no_outlier.price.describe()

count    36422.000000
mean       166.347729
std        104.558995
min         69.000000
25%         98.000000
50%        135.000000
75%        200.000000
max        799.000000
Name: price, dtype: float64